<a href="https://colab.research.google.com/github/agrat-20/ICG-Summer-Program-2021-DS/blob/main/ICG_Assignment(1)_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import files
import seaborn as sns

In [ ]:
#Uploading the training dataset
uploaded1 = files.upload()

Saving train.csv to train.csv

In [ ]:
uploaded1

In [ ]:
#Defining training set in the dataframe named as df1
col_names = ['PassengerId', 'Survived', 'Pclass', 'Sex', ' Age', ' SibSp', 'Parch', 'Fare']
df1 = pd.read_csv('/content/train.csv')
df1.columns = col_names
print(df1.head())

In [ ]:
#Removing the PassengerId column because I think it is of no use in prediciting the survived cases
df1.pop("PassengerId")

In [ ]:
#Dataframe of training test after removing PassengerId column
df1

In [ ]:
df1.columns

Since, Sex is categorical variable hence we have to convert it into some numerical value for which I used the get_dummies function of Pandas library. So, this will assign the 0 value to females and 1 to male. And using the arguement drop_first = True, it has been ensured that first column of female values has been dropped, hence we left only with male values. Below, I wrote the code for the same.

In [ ]:
sex_train = pd.get_dummies(df1['Sex'], drop_first = True)

In [ ]:
sex_train

In [ ]:
# Here, I added the column of male in the dataframe obtained by removing the PassengerId
df1 = pd.concat([df1, sex_train], axis = 1)

In [ ]:
df1.columns     # To check whether that column of male has been added or not.

In [ ]:
#Since, until now we have already added the male column which has numerical value. So, we could remove the Sex column.
df1.pop("Sex")

In [ ]:
#Dataframe df1 after removing the Sex column
df1

In [ ]:
#Shape of the final dataframe of training set
df1.shape

In [ ]:
df1.columns          # To check the actual saved name of the columns.

In [ ]:
#Renaming of the column
df1 = df1.rename(columns={' Age': 'Age'})
df1 = df1.rename(columns={' SibSp': 'SibSp'})

In [ ]:
df1.columns

Using seaborn library to get a boxplot of values of Age variable so, that I could find out which parameter(i.e mean, mode, median, constant value). I have to use to fill the empty spaces of the Age column. Here, I found out that this variable is right-skewed so, according to some texts we should use median value to fill the empty spaces. So, below in some cells I used the code for the same.

In [ ]:
 sns.boxplot(df1.Age)

In [ ]:
sns.distplot(df1.Age)      # Gives the curve of right-skewed data

In [ ]:
# Using median to fill the empty spaces in the Age column
df1['Age'] = df1['Age'].fillna(df1['Age'].median())

In [ ]:
#Final dataframe of training set
df1

In [ ]:
df1.columns

In [ ]:
df1.shape

In [ ]:
# Converting the dataframe of training set into numpy arrays. Also, finding their shape and length.
X_train = df1[['Pclass','Age','SibSp','Parch','Fare','male']]
X_train = X_train.to_numpy()
Y_train = df1['Survived'].to_numpy()
X_train.shape,len(Y_train)

In [ ]:
#Uploading the file of test set
uploaded2 = files.upload()
uploaded2

In [ ]:
# Converting the file of test set into the dataframe named as df2
col_names = ['PassengerId', 'Survived', 'Pclass', 'Sex', ' Age', ' SibSp', 'Parch', 'Fare']
df2 = pd.read_csv('/content/test.csv')
df2.columns = col_names
print(df2.head())

In [ ]:
df2

In [ ]:
# Removing the column of PassengerId for the same reasons as in the training set
df2.pop("PassengerId")

In [ ]:
# Converting the categorical value of Sex value into the numerical ones.
pd.get_dummies(df2['Sex'])

In [ ]:
df2.columns

In [ ]:
df2 = df2.rename(columns={' Age': 'Age'})
df2 = df2.rename(columns={' SibSp': 'SibSp'})

In [ ]:
df2

In [ ]:
# Including only the value of Male column same as done in the training set.
sex_test = pd.get_dummies(df2['Sex'], drop_first = True)

In [ ]:
df2 = pd.concat([df2, sex_test], axis = 1)

In [ ]:
df2.columns

In [ ]:
df2

In [ ]:
# Removing the column of Sex
df2.pop('Sex')

In [ ]:
df2.isnull().sum()

In [ ]:
df2.columns

In [ ]:
df2 = df2.rename(columns={' Age': 'Age'})

In [ ]:
df2['Age'] = df2['Age'].fillna(df2['Age'].median())

In [ ]:
# Final dataframe of the testing set
df2

In [ ]:
df2['Age'].isnull().sum()

In [ ]:
df2.columns

In [ ]:
# Converting the variables of test set into the numpy arrays and seperate arrays for dependent and independent variables. Also, calculated the
# shape and length of them.
X_test = df2[['Pclass','Age','SibSp','Parch','Fare','male']]
X_test = X_test.to_numpy()
Y_test = df2['Survived'].to_numpy()
X_test.shape,len(Y_test)

In [ ]:
# Defining the sigmoid sunction to start with the logistic regression using numpy library.
def sigmoid(z):
    return 1 / (1 + np.exp(-z))         # Returns a numpy array

Defined a function to calculate the sigmoid value and loss. Also, calculated the derivatives of weights and biases to estimate the difference between the minimum value and present value of loss function. This function returns the value of parameters ie. weights and biases which suits best.
Reference: https://dhirajkumarblog.medium.com/logistic-regression-in-python-from-scratch-5b901d72d68e

In [ ]:
def optimize(x, y,learning_rate,iterations,parameters): 
    size = x.shape[0]
    w = parameters["w"]                   # Here, parameters is a dictionary with a key w which has a numpy array as value and name of that array is w.
    b = parameters["b"]                   # Here, parameters is a dictionary with a key b which has a numpy array as value and name of that array is b.
    for i in range(iterations): 
        s = sigmoid(np.dot(x, w) + b)     # s is a numpy array returned by the sigmoid function and hence becomes the hypothesis function.
        loss = -1/size * np.sum(y * np.log(s)) + (1 - y) * np.log(1-s)       
        dw = 1/size * np.dot(x.T, (s - y))
        db = 1/size * np.sum(s - y)
        w = w - learning_rate * dw
        b = b - learning_rate * db 
    
    parameters["w"] = w
    parameters["b"] = b
    return parameters

In [ ]:
# Here, the values of parameters set which has weight as w and bias as b and has been initialized with value=0
initial_parameters = {} 
initial_parameters["w"] = np.zeros(X_train.shape[1])
initial_parameters["b"] = 0

In [ ]:
# Training the model
def train(x, y, learning_rate,iterations):
    parameters_out = optimize(x, y, learning_rate, iterations ,initial_parameters)
    return parameters_out

In [ ]:
# Calculated the value of parameters using the model. Parameters_out is also a dictionary having key as b and w and both have numpy array as their respective value.
parameters_out = train(X_train, Y_train, learning_rate = 0.005, iterations = 5000)
parameters_out

In [ ]:
# Make predictions dor the X_test values and saving them into list 
output_values = np.dot(X_test, parameters_out['w']) + parameters_out['b']
#output_values
Y_pred = sigmoid(output_values)
print(Y_pred)
Y_pred = [1 if p >= 0.5 else 0 for p in Y_pred]
Y_pred

Initializing the accuracy with value equals to 0. Then comparing the value in Y_pred and Y_test, if they have same value then it adds up the accuracy. Now, Accuracy is being calculated using the accuracy/length of list of Y_pred values.

In [79]:
accuracy = 0
for i in range(len(Y_pred)):
    if Y_pred[i] == Y_test[i]:
        accuracy += 1
print(f"Accuracy = {accuracy / len(Y_pred)}")

Accuracy = 0.7822878228782287