# Assignment 1

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
df_train=pd.read_csv("./data/train.csv")

In [28]:
df_train=df_train.drop(["PassengerId"],axis=1)
df_train

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
615         1       2  female  24.0      1      2  65.0000
616         0       3    male  34.0      1      1  14.4000
617         0       3  female  26.0      1      0  16.1000
618         1       2  female   4.0      2      1  39.0000
619         0       2    male  26.0      0      0  10.5000

[620 rows x 7 columns]

In [29]:
theta=pd.Series([1,1,1,1,1,1,1])

In [31]:
for i in df_train:
    print(i)

Survived
Pclass
Sex
Age
SibSp
Parch
Fare